<% layout('./layout') -%>
<div class="jumbotron">
  <div class="container text-center">
    <h1>Add project</h1>
    <%if (data.message) { %>
    <p style="color: red;"><%= data.message %></p>
    <% }else{ %>
    <p>Manage your project here</p>
    <% } %>
  </div>
</div>
<div>
  <form class="container" action="/admin/projectadd" method="post">

    <div class="row">
      <div class="form-group col">
        <label for="project">Name</label>
        <input id="name" name="name" type="text" value="<%= data.model.name || '' %>" class="form-control">
      </div>
      <div class="form-group col">
        <label for="location">Location</label>
        <input id="location" name="location" type="text" value="<%= data.model.location || '' %>" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="form-group col">
        <label for="description">Description</label>
        <textarea style="height: 180px;" id="description" name="description" type="text" value="<%= data.model.description || '' %>" 
         class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <button  type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
<script>
  tinymce.init({
    selector: '#description'
  });
</script>