<%- include head.ejs %>



<div class="rs-breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">About Us</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li>About Us</li>
            </ul>
        </div>
    </div>
  </div>
  
  
  
  <div id="rs-about" class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
    <div class="container">
        <div class="row rs-vertical-middle">
            <div class="col-lg-5 md-mb-30">
                <img src="images/about/new.jpg" alt="">
            </div>
            <div class="col-lg-7 pl-45 md-pl-15">
                <div class="sec-title mb-24">
                    <div class="sub-title primary">About Us</div>
                    <h2 class="title mb-0">Welcome to CSJ & CO</h2>
                </div>
                <p class="des mb-36">
  
  Working as a founding partner at CSJ & Co. The firm is currently advising various public and private companies including Punjab Thermal Power (Pvt.) Ltd, Gateway Associates etc.
  Remained Senior Vice President of Punjabi Majlis at Government College University Lahore during 2004 – 2005 where I organized special sessions on “Promotion of Punjabi Language”.
  
  .</p>
                <p class="des">
   Handled more than three hundred cases at ABS & Co.
   Drafting experience of Trial Court, High Court and Supreme Court cases
   Sound legal and political insight and aware from current affairs
   Sound Ability to present cases before District and High Courts.
   Able to identify client's problem and provide legal solutions.
   Strong communication and presentation skills
   Legal Convincing and Pleadings
   Microsoft Office/Browsing/Surfing/Online Research
   Mediation and problem solving skills.
  
  </p>
                <div class="info mt-25">
                    <!-- <div class="signature">
                        <img class="mb-25" src="images/about/signature.png" alt="">
                    </div> -->
                    <p class="designation">CH. SAJJAD JAHANGEER
  </p>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- About Section End -->
  
  <!-- Counter Up Section Start Here-->
  <div id="rs-counter" class="rs-counter bg1-1 style1 modify pt-113 pb-120 md-pt-72 md-pb-80">
    <div class="container">
        <div class="sec-title top-line text-center mb-59 md-mb-40">
            <div class="sub-title primary">Fun Facts</div>
            <h2 class="title white-color sm-mb-0">Why Choose Us</h2>
            <div class="desc gray-color2 mw-755">
  
  Represented numerous distinguished clients before District and High Courts in notable matters.
  Drafted agreements and provide advisory services to recognized corporate bodies.
  Practice in nearly all major civil areas of legal field.</div>
        </div>
        <div class="counter-wrap">
            <div class="row">
                <!-- COUNTER-LIST START -->
                <div class="col-lg-3 col-sm-6 md-mb-30">
                    <div class="rs-counter-list">
                        <div class="icon-part">
                            <img src="images/counter/icons/5.png" alt="">
                        </div>
                        <div class="counter-text">
                            <div class="rs-count">1820</div>
                            <h4 class="title">Case Closed</h4>
                        </div>
                    </div>
                </div>
                <!-- COUNTER-LIST END -->
                <!-- COUNTER-LIST START -->
                <div class="col-lg-3 col-sm-6 md-mb-30">
                    <div class="rs-counter-list">
                        <div class="icon-part">
                            <img src="images/counter/icons/2.png" alt="">
                        </div>
                        <div class="counter-text">
                            <div class="rs-count">1505</div>
                            <h4 class="title">Expert Attorneys</h4>
                        </div>
                    </div>
                </div>
                <!-- COUNTER-LIST END -->
                <!-- COUNTER-LIST START -->
                <div class="col-lg-3 col-sm-6 xs-mb-30">
                    <div class="rs-counter-list">
                        <div class="icon-part">
                            <img src="images/counter/icons/3.png" alt="">
                        </div>
                        <div class="counter-text">
                            <div class="rs-count">2025</div>
                            <h4 class="title">Trusted Clients</h4>
                        </div>
                    </div>
                </div>
                <!-- COUNTER-LIST END -->
                <!-- COUNTER-LIST START -->
                <div class="col-lg-3 col-sm-6">
                    <div class="rs-counter-list">
                        <div class="icon-part">
                            <img src="images/counter/icons/4.png" alt="">
                        </div>
                        <div class="counter-text">
                            <div class="rs-count">1010</div>
                            <h4 class="title">Successful Case</h4>
                        </div>
                    </div>
                </div>
                <!-- COUNTER-LIST END -->
            </div>
        </div>
    </div>
  </div>





<%- include footer.ejs %>