<%- include head.ejs %>




<div class="rs-breadcrumbs">
  <div class="container">
      <div class="breadcrumbs-inner text-center">
          <h1 class="breadcrumbs-title white-color">About Us</h1>
          <ul class="breadcrumbs-meta">
              <li><a href="index-2.html">Home</a></li>
              <li>About Us</li>
          </ul>
      </div>
  </div>
</div>



<div id="rs-about" class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
  <div class="container">
      <div class="row rs-vertical-middle">
          <div class="col-lg-5 md-mb-30">
              <img src="images/about/home-about-1.jpg" alt="">
          </div>
          <div class="col-lg-7 pl-45 md-pl-15">
              <div class="sec-title mb-24">
                  <div class="sub-title primary">About Us</div>
                  <h2 class="title mb-0">Welcome to Advokat Lawyers & Lawfirm</h2>
              </div>
              <p class="des mb-36">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</p>
              <p class="des">These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.  Ut enim ad minim veniam, quis nostrud exercitation. Duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
              <div class="info mt-25">
                  <div class="signature">
                      <img class="mb-25" src="images/about/signature.png" alt="">
                  </div>
                  <p class="designation">CEO & Founder of Advokat</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- About Section End -->

<!-- Counter Up Section Start Here-->
<div id="rs-counter" class="rs-counter bg1-1 style1 modify pt-113 pb-120 md-pt-72 md-pb-80">
  <div class="container">
      <div class="sec-title top-line text-center mb-59 md-mb-40">
          <div class="sub-title primary">Fun Facts</div>
          <h2 class="title white-color sm-mb-0">Why Choose Us</h2>
          <div class="desc gray-color2 mw-755">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain.</div>
      </div>
      <div class="counter-wrap">
          <div class="row">
              <!-- COUNTER-LIST START -->
              <div class="col-lg-3 col-sm-6 md-mb-30">
                  <div class="rs-counter-list">
                      <div class="icon-part">
                          <img src="images/counter/icons/5.png" alt="">
                      </div>
                      <div class="counter-text">
                          <div class="rs-count">1820</div>
                          <h4 class="title">Case Closed</h4>
                      </div>
                  </div>
              </div>
              <!-- COUNTER-LIST END -->
              <!-- COUNTER-LIST START -->
              <div class="col-lg-3 col-sm-6 md-mb-30">
                  <div class="rs-counter-list">
                      <div class="icon-part">
                          <img src="images/counter/icons/2.png" alt="">
                      </div>
                      <div class="counter-text">
                          <div class="rs-count">1505</div>
                          <h4 class="title">Expert Attorneys</h4>
                      </div>
                  </div>
              </div>
              <!-- COUNTER-LIST END -->
              <!-- COUNTER-LIST START -->
              <div class="col-lg-3 col-sm-6 xs-mb-30">
                  <div class="rs-counter-list">
                      <div class="icon-part">
                          <img src="images/counter/icons/3.png" alt="">
                      </div>
                      <div class="counter-text">
                          <div class="rs-count">2025</div>
                          <h4 class="title">Trusted Clients</h4>
                      </div>
                  </div>
              </div>
              <!-- COUNTER-LIST END -->
              <!-- COUNTER-LIST START -->
              <div class="col-lg-3 col-sm-6">
                  <div class="rs-counter-list">
                      <div class="icon-part">
                          <img src="images/counter/icons/4.png" alt="">
                      </div>
                      <div class="counter-text">
                          <div class="rs-count">1010</div>
                          <h4 class="title">Successful Case</h4>
                      </div>
                  </div>
              </div>
              <!-- COUNTER-LIST END -->
          </div>
      </div>
  </div>
</div>
<!-- Counter Down Section End Here-->

<!-- Team Inner Section Start -->
<div id="rs-team" class="rs-team-slider pt-113 pb-120 md-pt-72 md-pb-80">
  <div class="sec-title top-line text-center mb-51 md-mb-40">
      <div class="sub-title primary">Our Attorney</div>
      <h2 class="title mb-0">Meet Our Attorney</h2>
  </div>
  <div class="container">
      <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="true" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
          <div class="team-item">
              <div class="team-image">
                  <img src="images/team/1.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Rafian Sagar</a></h4>
                  <span class="designation">CEO & Founder</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="images/team/2.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Istiac Hasan</a></h4>
                  <span class="designation">Trial Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="images/team/3.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">John Mehta</a></h4>
                  <span class="designation">Government Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/4.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Riaz Hasan</a></h4>
                  <span class="designation">Trial Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/5.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Aston Dark</a></h4>
                  <span class="designation">Bankruptcy Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/6.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Ketty Perry</a></h4>
                  <span class="designation">Trial Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/7.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Donia Gomez</a></h4>
                  <span class="designation">Government Lawyer</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/8.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Lelen Flower</a></h4>
                  <span class="designation">Senior Attorney</span>
              </div>
          </div>
          <div class="team-item">
              <div class="team-image">
                  <img src="/home/images/team/9.jpg" alt="Team Image">
                  <div class="team-social">
                      <ul>
                          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="text-bottom">
                  <h4 class="person-name"><a href="#">Maris Stone</a></h4>
                  <span class="designation">Bankruptcy Lawyer</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Team Inner Section End -->

<!-- Testimonia Section Start -->







<%- include footer.ejs %>