<% include head  %>






















<div class="rs-breadcrumbs innerbg4">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">Case Result</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li>Case Result</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumbs Section End -->

<!-- Case Result Inner Section Start -->
<div class="rs-case-result inner-style pt-120 pb-120 md-pt-80 md-pb-80">
    <div class="container">
        <div class="row no-gutter mb-50">
            <div class="col-lg-6 case-bg case1"></div>
            <div class="col-lg-6 title-bg">
                <div class="content-part">
                    <div class="grid-title mb-24">
                        <h4 class="sub-title">Capital Market</h4>
                        <h3 class="title mb-0"><a href="#">Business Customers Law</a></h3>
                    </div>
                    <div class="case-content">
                        <h4>The Charges:</h4>
                        <div class="desc">
                            <p>Numerous definitions of law have been put forward over the centuries. The Third New International Dictionary from Merriam.definitions of law have been put forward definitions of law.</p>
                        </div>
                    </div>
                    <div class="case-content">
                        <h4>Awarded:</h4>
                        <div class="desc">
                            <p>$800 fine 5 months License suspension 12 Oct 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter mb-50">
            <div class="col-lg-6 case-bg case2 order-last"></div>
            <div class="col-lg-6 title-bg">
                <div class="content-part">
                    <div class="grid-title mb-24">
                        <h4 class="sub-title">International Law</h4>
                        <h3 class="title mb-0"><a href="#">Business Customers Law</a></h3>
                    </div>
                    <div class="case-content">
                        <h4>The Charges:</h4>
                        <div class="desc">
                            <p>Numerous definitions of law have been put forward over the centuries. The Third New International Dictionary from Merriam.definitions of law have been put forward definitions of law.</p>
                        </div>
                    </div>
                    <div class="case-content">
                        <h4>Awarded:</h4>
                        <div class="desc">
                            <p>$800 fine 5 months License suspension 12 Oct 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutter">
            <div class="col-lg-6 case-bg case3"></div>
            <div class="col-lg-6 title-bg">
                <div class="content-part">
                    <div class="grid-title mb-24">
                        <h4 class="sub-title">Substantial Risk Breach</h4>
                        <h3 class="title mb-0"><a href="#">Traffic Tikets Provides Law</a></h3>
                    </div>
                    <div class="case-content">
                        <h4>The Charges:</h4>
                        <div class="desc">
                            <p>Numerous definitions of law have been put forward over the centuries. The Third New International Dictionary from Merriam.definitions of law have been put forward definitions of law.</p>
                        </div>
                    </div>
                    <div class="case-content">
                        <h4>Awarded:</h4>
                        <div class="desc">
                            <p>$800 fine 5 months License suspension 12 Oct 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Case Result Inner Section End -->    
<% include footer %>