
<%- include head.ejs %>

<div class="rs-breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">Contact Us</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>



<div class="rs-contact inner gray-bg pt-120 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last md-mb-30">
                <div class="contact-sidebar">
                    <div class="image-part">
                        <img src="images/Lahore-High-Court.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <h3 class="title">Head Office</h3>
                        <div class="address-item ml--5 mb-20">
                            <div class="address-icon">
                                <i class="icon-basic-smartphone"></i>
                            </div>
                            <div class="address-text">
                                <h5 class="contact-title">Office Phone</h5>
                                <a href="tel:+(+088)589-8745">+92 300-4086860</a>
                            </div>
                        </div>
                        <div class="address-item ml--5 mb-20">
                            <div class="address-icon">
                                <i class="icon-basic-mail-multiple"></i>
                            </div>
                            <div class="address-text">
                                <h5 class="contact-title">Mail Us</h5>
                                <a href="mailto:support@csj.com.pk">support@csj.com.pk</a>
                            </div>
                        </div>
                        <div class="address-item ml--5">
                            <div class="address-icon">
                                <i class="icon-basic-geolocalize-01"></i>
                            </div>
                            <div class="address-text">
                                <h3 class="contact-title">Address</h3>
                                CSJ & Co , S.M. Tower, 9 Fane Road, Lahore
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 pr-30">
                <div class="contact-wrap">
                    <div class="sec-title mb-50">
                        <h2 class="title mb-33">Get In Touch</h2>
                        
                    </div>
                        <form class="contact-inner-page" action="/home/contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"  name="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email"  name="email" placeholder="Your Email" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text"  name="phone" placeholder="Your Phone" required>
                            </div>
                            
                            <div class="col-md-12">
                                <textarea placeholder="Your Message" name="message" required></textarea>
                                <button type="submit" class="readon upper">Submit Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="g-map mt-120 md-mt-80">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13598.65730793933!2d74.3144765!3d31.5608256!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a2186300fe11dc3!2sPunjab%20Bar%20Council!5e0!3m2!1sen!2s!4v1599233915556!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>


<%- include footer.ejs %>