
<%- include head.ejs %>

<div class="rs-breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">Contact Us</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </div>
</div>



<div class="rs-contact inner gray-bg pt-120 md-pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last md-mb-30">
                <div class="contact-sidebar">
                    <div class="image-part">
                        <img src="images/Lahore-High-Court.jpg" alt="">
                    </div>
                    <div class="content-part">
                        <h3 class="title">Head Office</h3>
                        <div class="address-item ml--5 mb-20">
                            <div class="address-icon">
                                <i class="icon-basic-smartphone"></i>
                            </div>
                            <div class="address-text">
                                <h5 class="contact-title">Office Phone</h5>
                                <a href="tel:+(+088)589-8745">+92 300-4086860</a>
                            </div>
                        </div>
                        <div class="address-item ml--5 mb-20">
                            <div class="address-icon">
                                <i class="icon-basic-mail-multiple"></i>
                            </div>
                            <div class="address-text">
                                <h5 class="contact-title">Mail Us</h5>
                                <a href="mailto:support@csj.com.pk">support@csj.com.pk</a>
                            </div>
                        </div>
                        <div class="address-item ml--5">
                            <div class="address-icon">
                                <i class="icon-basic-geolocalize-01"></i>
                            </div>
                            <div class="address-text">
                                <h3 class="contact-title">Address</h3>
                                Street#1,Opposite Lahore Court
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 pr-30">
                <div class="contact-wrap">
                    <div class="sec-title mb-50">
                        <h2 class="title mb-33">Get In Touch</h2>
                        <div class="desc">We denounce with righteous indignation and dislike men who are so beguiled perfectly simple. <br> and demoralized by the charms of pleasure of the moment, so blinded by desire.</div>
                    </div>
                        <form class="contact-inner-page" action="/home/contact" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text"  name="name" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email"  name="email" placeholder="Your Email" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text"  name="phone" placeholder="Your Phone" required>
                            </div>
                            
                            <div class="col-md-12">
                                <textarea placeholder="Your Message" name="message" required></textarea>
                                <button type="submit" class="readon upper">Submit Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="g-map mt-120 md-mt-80">
        <iframe src="https://maps.google.com/maps?q=37.803467%2C%20-122.472369&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
    </div>
</div>

<% if(message){ %>
    <div class="modal fade show d-block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Contact</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Contact Submitted.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Ok</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
<%} %>
<%- include footer.ejs %>