<%- include header.ejs %>





		<!-- Main content Start -->
        <div class="main-content">
            <!-- Slider Start -->
            <div id="rs-slider" class="rs-slider slider1">
                <div class="bend niceties">
                    <div id="nivoSlider" class="slides">
                        <img src="images/slider/h1-sl1.jpg" alt="" title="#slide-1" />
                        <img src="images/slider/h1-sl2.jpg" alt="" title="#slide-2" />
                    </div>
                    <!-- Slide 1 -->
                    <div id="slide-1" class="slider-direction">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="content-part">
                                        <div class="slider-des">
                                            <div class="sl-sub-title">Need Any Help</div>
                                            <h1 class="sl-title white-color">We Fight Right</h1>
                                            <div class="sl-desc margin-0">
                                                We denounce with righteous indignation and dislike men who are <br>beguiled and demoralized by the charms of pleasure.
                                            </div>
                                        </div>
                                        <div class="slider-bottom">
                                            <ul>
                                                <li><a href="#" class="readon">Contact Us</a></li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-md">
                                    <div class="sl-ly-img">
                                        <img src="images/logo/DSC_0190 copy.png" alt="">
                                    </div> 
                                </div>
                            </div>                              
                        </div>
                    </div>
                    <!-- Slide 2 -->
                    <div id="slide-2" class="slider-direction">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="content-part">
                                        <div class="slider-des">
                                            <div class="sl-sub-title">Award Winning</div>
                                            <h1 class="sl-title white-color">Leading Law Firm</h1>
                                            <div class="sl-desc margin-0">
                                                We denounce with righteous indignation and dislike men who are <br>beguiled and demoralized by the charms of pleasure.
                                            </div>
                                        </div>
                                        <div class="slider-bottom">
                                            <ul>
                                                <li><a href="#" class="readon">Contact Us</a></li>
                                            </ul>
                                        </div>  
                                    </div>
                                </div>
                                <div class="col-lg-6 hidden-md">
                                    <div class="sl-ly-img">
                                        <img src="images/logo/DSC_0190 copy.png" alt="">
                                    </div> 
                                </div>
                            </div>                              
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider End --> 

            <!-- Services Start -->
            <div id="rs-services" class="rs-services style1 long-gap md-pt-80">
                <div class="container">
                    <div class="row rs-vertical-middle">
                        <div class="col-lg-12">
                            <div class="service-inner">
                                <div class="service-box">
                                    <div class="image-part">
                                        <img src="images/services/icons/1.png" alt="">
                                    </div>
                                    <div class="text">
                                        <h4 class="title"><a href="#">100% Success Rate</a></h4>
                                        <div class="desc">We dealet with thousands of the life saving cases and gave peoples new pleasure of life.</div>
                                    </div>
                                </div>
                                <div class="service-box dark-bg">
                                    <div class="image-part">
                                        <img src="images/services/icons/2.png" alt="">
                                    </div>
                                    <div class="text">
                                        <h4 class="title"><a href="#">Expert Legal Services</a></h4>
                                        <div class="desc">Creation timelines for the standard best service  passage vary, with some citing the 21th century.</div>
                                    </div>
                                </div>
                                <div class="service-box">
                                    <div class="image-part">
                                        <img src="images/services/icons/3.png" alt="">
                                    </div>
                                    <div class="text">
                                        <h4 class="title"><a href="#">Highly Recommend</a></h4>
                                        <div class="desc">This is because of we love clients satisfaction and provide a happy life not only solution.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Services End -->

            <!-- About Section Start -->
            <div id="rs-about" class="rs-about style1 pt-120 pb-120 md-pt-80 md-pb-78">
                <div class="container">
          <div class="row rs-vertical-middle">
              <div class="col-lg-5 md-mb-30">
                  <img src="images/about/new.jpg" alt="" style="height: 300px; width: 700px;">
              </div>
              <div class="col-lg-7 pl-45 md-pl-15">
                  <div class="sec-title mb-24">
                      <div class="sub-title primary">About Us</div>
                      <h2 class="title mb-0">Welcome to CSJ & CO</h2>
                  </div>
                  <p class="des mb-36">
    
    Working as a founding partner at CSJ & Co. The firm is currently advising various public and private companies including Punjab Thermal Power (Pvt.) Ltd, Gateway Associates etc.
    Remained Senior Vice President of Punjabi Majlis at Government College University Lahore during 2004 – 2005 where I organized special sessions on “Promotion of Punjabi Language”.
    
    .</p>
                  <p class="des">
     Handled more than three hundred cases at ABS & Co.
     Drafting experience of Trial Court, High Court and Supreme Court cases
     Sound legal and political insight and aware from current affairs
     Sound Ability to present cases before District and High Courts.
     Able to identify client's problem and provide legal solutions.
     Strong communication and presentation skills
     Legal Convincing and Pleadings
     Microsoft Office/Browsing/Surfing/Online Research
     Mediation and problem solving skills.
    
    </p>
                  <div class="info mt-25">
                      <!-- <div class="signature">
                          <img class="mb-25" src="images/about/signature.png" alt="">
                      </div> -->
                      <p class="designation">CH. SAJJAD JAHANGEER
    </p>
                  </div>
              </div>
          </div>
      </div>
                </div>
            <!-- About Section End -->

            <!-- Our Practice Areas Start -->
            <div class="rs-our-practice style1 title-bg pt-114 pb-120 md-pt-72 md-pb-80">
                <div class="container">
                    <div class="sec-title top-line text-center mb-49 xs-mb-31">
                        <div class="sub-title primary">What We Do</div>
                        <h2 class="title white-color mb-0">Our Practice Areas</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/1.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Corporate security</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/2.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Bankruptcy law</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/3.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Education law</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/4.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Family law</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/5.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Personal injury</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-30">
                            <div class="practice-inner">
                                <div class="icon-part">
                                    <img src="images/practice/icons/6.png" alt="">
                                </div>
                                <div class="content-part">
                                    <h4 class="title"><a href="#">Real estate law</a></h4>
                                    <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-area text-center pt-30">
                        <a href="/home/practice-area" class="readon">View All Practice Areas</a>
                    </div>
                </div>
            </div>
            <!-- Our Practice Areas END -->

            <!-- Our Case Result Start -->
            <div class="rs-case-result style1 pt-114 pb-120 md-pt-72 md-pb-80">
                <div class="container">
                    <div class="sec-title top-line text-center mb-51 xs-mb-31">
                        <div class="sub-title primary">Our Success</div>
                        <h2 class="title mb-0">Our Cases Result</h2>
                    </div>
                    <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="item">
                            <img src="images/case-result/1.jpg" alt="">
                            <div class="result-contents">
                                <h3 class="title"><a href="#">Capital Market</a></h3>
                                <div class="categories"><a href="#">Risk Breach</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/case-result/2.jpg" alt="">
                            <div class="result-contents">
                                <h3 class="title"><a href="#">International Law</a></h3>
                                <div class="categories"><a href="#">Risk Breach</a></div>
                            </div>
                        </div>
                        <div class="item">
                            <img src="images/case-result/3.jpg" alt="">
                            <div class="result-contents">
                                <h3 class="title"><a href="#">International Law</a></h3>
                                <div class="categories"><a href="#">Risk Breach</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Our Case Result END -->

            <!-- Team Inner Section Start -->
            
            <!-- Team Inner Section End -->

            <!-- Faq Section Start -->
            <div class="rs-faq style1 pt-120 pb-120 md-pt-72 md-pb-80">
                <div class="container padding-0 md-pr-15 md-pl-15">
                    <div class="content-wrap title-bg">
                        <div class="row md-col-padding">
                            <div class="col-lg-12 pr-0">
                                <div class="faq-part">
                                    <div class="sec-title mb-45 xs-mb-31">
                                        <div class="sub-title primary">Any Questions ?</div>
                                        <h2 class="title white-color mb-0">Frequently Asked Questions</h2>
                                    </div>
                                    <div id="accordion" class="accordion">
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="card-link" data-toggle="collapse" href="#collapseOne">Q. 1 : Why should I trust your firm for my case?</a>
                                            </div>
                                            <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                                <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Q. 2 : What types of cases does your law firm handle?</a>
                                            </div>
                                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                                <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Q. 3 : What are your opening hours?</a>
                                            </div>
                                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                                <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">Q. 4 : Do you charge for consultations?</a>
                                            </div>
                                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                <div class="card-body">We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>


















<%- include footer.ejs %>