<%- include head.ejs %>
<div class="rs-breadcrumbs innerbg3">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">Our Practice Area</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="practice-areas.html">Practice Areas</a></li>
                <li>Our Practice Area</li>
            </ul>
        </div>
    </div>
</div>
        <!-- Breadcrumbs Section End -->
        <div class="rs-our-practice style1 title-bg pt-114 pb-120 md-pt-72 md-pb-80">
            <div class="container">
                <div class="sec-title top-line text-center mb-49 xs-mb-31">
                    <div class="sub-title primary">What We Do</div>
                    <h2 class="title white-color mb-0">Our Practice Areas</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/1.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">High Courts Litigation
                                </a></h4>
                                <div class="desc">Represented numerous distinguished clients before District and High Courts in notable matters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/2.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">District Courts Litigation</a></h4>
                                <div class="desc">We had dealt with hundreds of the cases with District Courts Litigation.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/3.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Agreement Drafting
</a></h4>
                                <div class="desc">Drafted agreements and provide advisory services to recognized corporate bodies.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/4.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Legal Opinion
</a></h4>
                                <div class="desc">Practice in nearly all major civil areas of legal field.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/5.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Corporate Advisory
</a></h4>
                                <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-30">
                        <div class="practice-inner">
                            <div class="icon-part">
                                <img src="{{URL::to('')}}/public/home/images/practice/icons/6.png" alt="">
                            </div>
                            <div class="content-part">
                                <h4 class="title"><a href="#">Real estate law</a></h4>
                                <div class="desc">Law is complex from a method view point except your activity about corporate business.</div>
                            </div>
                        </div>
                    </div>
                </div>
               <!--  <div class="btn-area text-center pt-30">
                    <a href="#" class="readon">View All Practice Areas</a>
                </div> -->
            </div>
        </div>
        <div class="rs-practice-single pt-120 pb-120 md-pt-80 md-pb-80">
            <div class="container">
                <div class="row">
                    
                    <div class="col-lg-10 pr-45 md-pr-15">
                        <div class="mian-content">
                            


                            
                            
                            <div class="choose-wrap gray-bg mb-41">
                                <h3 class="title-text">Why Choose Us!</h3>
                                <p>
Our areas of expertise include civil, corporate, Contractual and commercial litigation along-with legal opinion work. Further We deals with Land acquisition, land Revenue, Pre – Emption, Inheritance, Tenancy and Family Laws. We had appeared in several cases before District and High Courts representing various distinguished clients.
.</p>
                                <div class="row">
                                    <div class="col-md-6 mb-22">
                                        <div class="inner-item">
                                            <h4 class="title-inner">Expert Lawyer</h4>
                                            <div class="desc">We are experienced in this field more then 10 years and Our areas of expertise include civil, corporate, Contractual and commercial litigation along-with legal opinion work. </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-22">
                                        <div class="inner-item">
                                            <h4 class="title-inner">Fast Support</h4>
                                            <div class="desc">We are available 24/7 for your Right,We fight Right. </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="inner-item">
                                            <h4 class="title-inner">Consultation</h4>
                                            <div class="desc">Looking for working relationship as an Advocate with some reputed  and well-established organizations and departments where all my legal skills and abilities will help me to serve the organization well and give me a chance to prove my expertise </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <div class="inner-item">
                                            <h4 class="title-inner">Lowest Cost</h4>
                                            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua</div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                           
                            <div class="overview-wrap">
                                <h3 class="title-text">Our overview</h3>
                                <div id="accordion" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="card-link" data-toggle="collapse" href="#collapseOne">10+ Year Experience</a>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">There is but one law for all, namely, that law which governs all law, the law of our Creator, the law of humanity, justice, equity -- the law of nature and of nations.</div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Our Mission</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                            <div class="card-body">Our mission is to take a genuine interest in our clients, understand their objectives, and meet or exceed their expectations. We dedicate ourselves to these values: * For our clients, we will work hard, provide superior legal services on a timely, effective, and efficient basis, and maintain the highest standards of professional integrity. * For our firm, we will foster an enjoyable working environment, based on open communication and mutual respect, and will encourage initiative, innovation, teamwork, and loyalty. * For our community, we will continue our long tradition of service and leadership.</div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Our Vision</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-parent="#accordion">
                                            <div class="card-body">Duis autem vel eum iriure dolor in hendrerit and vulputate velit esse molest esse do lore eu feugiat nulla facilisis at vero eros et accumsan et iusto odsim qui blan diten aese eros et acccumsan et iusto velit esse molestie. Duis autem vel eum iriure dolor in hendrerit and vulputate velit esse molest esse do lore eu feugiat nulla facilisis at vero eros et accumsan et iusto odsim qui blan diten aese eros et acccumsan et iusto velit esse molestie.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <%- include footer.ejs %>