<%- include head.ejs %>

<div class="rs-breadcrumbs">
    <div class="container">
        <div class="breadcrumbs-inner text-center">
            <h1 class="breadcrumbs-title white-color">Log In</h1>
            <ul class="breadcrumbs-meta">
                <li><a href="index-2.html">Home</a></li>
                <li>Log In</li>
            </ul>
        </div>
    </div>
</div>
<div class="rs-contact inner gray-bg pt-120 md-pt-80">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-8 pr-30">
                <div class="contact-wrap">
                    <div class="sec-title mb-50">
                        <h2 class="title mb-33">Get In Touch</h2>
                        <div class="desc">We denounce with righteous indignation and dislike men who are so beguiled perfectly simple. <br> and demoralized by the charms of pleasure of the moment, so blinded by desire.</div>
                    </div>
                    <form class="contact-inner-page">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="text" placeholder="Your Name" required>
                            </div>
                            <div class="col-md-12">
                                <input type="email" name="email" placeholder="Your Email" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="phone" placeholder="Your Phone" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="website" placeholder="Your Website">
                            </div>
                            <div class="col-md-12">
                                <textarea placeholder="Your Message" required></textarea>
                                <button type="submit" class="readon upper">Submit Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="g-map mt-120 md-mt-80">
        <iframe src="https://maps.google.com/maps?q=37.803467%2C%20-122.472369&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"></iframe>
    </div>
</div>
<%- include footer.ejs %>